fastapi==0.111.1
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.21
psycopg2-binary==2.9.8
python-dotenv==1.0.1
requests==2.31.0
pydantic==2.3.0        
openai==1.31.0
starlette==0.37.2
typing-extensions==4.15.0
fastapi-cli==0.0.24
httpx==0.28.1
jinja2==3.1.6
python-multipart==0.0.22
email-validator==2.3.0